<div class="row justify-content-md-center mt-5">
  <div class="col-6">
    <div class="card">
      <div class="card-header blue">
        <h2>Log In</h2>
      </div>
      <div class="card-body">
        <%= form_tag login_path do %>
          <div class="form-group">
            <%= text_field_tag :username, nil, {class: "form-control form-control-lg", placeholder: "Username"} %>
          </div>
          <div class="form-group">
            <%= text_field_tag :password, nil, {class: "form-control form-control-lg", placeholder: "Password"} %>
          </div>
          <%= submit_tag "Login", {class: "btn btn-primary"} %> <%= link_to "Signup", signup_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
