<div class="row">
  <div class="col">
    <div class="card mt-5">
      <div class="card-header blue">
        <h1>Edit Profile</h1>
      </div>
      <div class="card-body">
        <%= form_for(@user, method: "patch") do |f| %>

          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <p><%= f.submit "Save Changes", class: "btn btn-secondary" %></p>

        <% end %>
      </div>
    </div>
  </div>
</div>
