<div class="row">
  <div class="col mt-5">
    <div class="card">
      <div class="card-header blue">
        <h2>Search for Contacts</h2>
      </div>
      <div class="card-body">
        <%= form_tag users_path, method: :get do %>
          <div class="form-group">
            <%= label_tag "Search by first name, last name, or username:" %>
            <div class="input-group">
              <%= text_field_tag 'term', params[:term], placeholder: "Enter search terms", class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag 'Search!', class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
        <% end %>

        <%= render :partial => "search" %>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-header green">
        <h2>Your Ranked Contacts</h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% contacts_array = [] %>
          <% @user.my_network.each do |contact| %>
            <li class="list-group-item">
            <%= form_tag({action: :make_rank}) do %>
              <%= hidden_field_tag "rank[rankee_id]", contact[:rankee].id %>
              <%= hidden_field_tag "rank[ranker_id]", @user.id %>
              <% contacts_array.push(contact[:rankee]) %>
              <%= contact[:rankee].full_name %> <%= select_tag "rank[rank]", options_for_select((1..5),contact[:rank]) %>
            <%= submit_tag "ðŸ‘"%></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-header yellow">
        <h2>People You May Know</h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @user.my_network.each do |contact| %>
            <% contact[:rankee].ranks.select do |arank| %>
              <% if arank.rankee != @user && contacts_array.exclude?(arank.rankee) %>
                <li class="list-group-item">
                  <%= form_tag({action: :make_rank}) do %>
                    <%= hidden_field_tag "rank[rankee_id]", arank.rankee.id %>
                    <%= hidden_field_tag "rank[ranker_id]", @user.id %>
                    <%= arank.rankee.full_name %> <%= select_tag "rank[rank]", options_for_select(1..5)%>
                    <%= submit_tag "ðŸ‘"%>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
