
<div class="card mt-5">
  <div class="card-header blue">
    <h2>My Profile</h2>
  </div>
  <div class="card-body">
    <p>Name: <%= @user.full_name %></p>
    <p>Username: <%= @user.username %></p>
    <p>Birthdate: <%= @user.birthdate.to_s[0..-13] %></p>
    <%= link_to "Edit Profile", profile_edit_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header yellow">
    <a href="#my-availability"></a>
    <h2>My Availability</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Click a block to toggle</p>
    <% days_array = User.days_array %>
    <% blocks_array = User.times_array %>
    <hr>
    <div class="row seven-cols">
      <% days_array.each do |day| %>
        <div class="col m-2 text-center"><%= day.titlecase %></div>
      <% end %>
    </div>

    <% blocks_array.each do |block| %>
      <div class="row seven-cols">
        <% days_array.each do |day| %>
          <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
            <div class="card mt-2 mb-2 <%= @user.schedule[day][block] == true ? "avail" : "unavail" %>">

              <a href=<%= "/profile/toggle-#{day}-#{block}"%>>
                <div class="card-body text-center">
                  <%= block %>
                </div>
              </a>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
