<h1>My profile</h1>

<p>Name: <%= @user.full_name %></p>
<p>Username: <%= @user.username %></p>
<p>Birthdate: <%= @user.birthdate %></p>

<h2>My Availability</h2>
<div class="container">
  <% days_array = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %>
  <% blocks_array = ["morning", "day", "evening", "night"] %>

  <div class="row seven-cols">
    <div class="col-md">Monday</div>
    <div class="col-md">Tuesday</div>
    <div class="col-md">Wednesday</div>
    <div class="col-md">Thursday</div>
    <div class="col-md">Friday</div>
    <div class="col-md">Saturday</div>
    <div class="col-md">Sunday</div>
  </div>

  <% blocks_array.each do |block| %>
    <div class="row seven-cols">
      <% days_array.each do |day| %>
        <div class="col-md">
          <div class="card m-1">
            <a href="#">
            <div class="card-body <%= @user.schedule[day][block] == true ? "avail" : "" %>">
              <%= @user.schedule[day][block] == true ? "available" : "unavailable" %>
            </div>
            </a>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
