<h1>Edit Your Event</h1>
<%= form_for @event do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :description %><br>
  <%= f.text_area(:description, size: "24x6")  %><br><br>

  <%= f.label :date %><br>
  <%= f.datetime_select :date %><br><br>

  <%= f.label :required_rank %><br>
  <%= f.select :required_rank, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]
 %><br><br>

  <%= f.label :location_id, "Search For a Location"%><br>
  <%= f.collection_select :location_id, Location.all, :id, :name %><br><br>
  Create a Location?<br><p>

    <%= f.fields_for :location, @event.location do |location_field| %>
      <%= location_field.label :name %><br>
      <%= location_field.text_field :name %><br><br>

      <%= location_field.label :address %><br>
      <%= location_field.text_field :address %><br><br>

      <%= location_field.label :description %><br>
      <%= location_field.text_area(:description, size: "24x6")  %>
    <% end %></p>

  <%= f.submit "Update Your Event"%>

<% end %>
