<div class="row mt-5">
  <div class="col">
    <h1>Network Events</h1>
  </div>
</div>

<hr>
<%= link_to "Add Event", new_event_path %>

<div class="row">
  <div class="col">
    <div class="card mt-5">
      <div class="card-header blue">
        <h3>My Events</h3>
      </div>
      <div class="card-body">

        <ul>
          <% @user.my_events.each do |event| %>
            <li><%= link_to event.name, event %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card mt-5">
      <div class="card-header green">
        <h3>Priority Events</h3>
      </div>
      <div class="card-body">

        <ul>
          <% @user.get_ranked_contacts.each do |contact| %>
            <% contact.ranks.each do |a_rank| %>
              <% if a_rank.rankee_id == @user_id && a_rank.rank > 2 %>
                <% contact.my_events.each do |event| %>
                  <% if event.required_rank >= a_rank.rank %>
                    <li><%= link_to event.name, event %>
                    <% if User.find(@user.id).events.include? event %>
                      <%= button_to 'Cancel', {:controller => "events", :action => "unattend", :params => {:attendee => {:event_id => event.id, :user_id=> @user.id, hidden: true}}} , :method=>:update  %>
                    <% else %>
                       <%= button_to 'Attend', {:controller => "events", :action => "attend", :params => {:attendee => {:event_id => event.id, :user_id=> @user.id}}} , :method=>:post  %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card mt-5">
      <div class="card-header yellow">
        <h3>Other Events</h3>
      </div>
      <div class="card-body">

        <ul>
          <% @events.each do |event| %>
            <% event.creator.ranks.each do |a_rank| %>
              <% if a_rank.rankee.id == @user.id && a_rank.rank > 1 %>
                <% if @user.get_ranked_contacts.exclude? event.creator %>
                <li>
                  <%= link_to event.name, event %>
                  <% if User.find(@user.id).events.include? event %>
                    <%= button_to 'Cancel', {:controller => "events", :action => "unattend", :params => {:attendee => {:event_id => event.id, :user_id=> @user.id, hidden: true}}} , :method=>:update  %>
                  <% else %>
                     <%= button_to 'Attend', {:controller => "events", :action => "attend", :params => {:attendee => {:event_id => event.id, :user_id=> @user.id}}} , :method=>:post  %>
                  <% end %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>
