<ul style="list-style-type:none"><h1><%= @event.name %></h1>
<li>Created by: <br><%= @event.creator.username %></li><br><br>
<li>Location:<br> <%= @event.location.name %></li><br><br>
<li>Address<br> <%= @event.location.address %></li><br><br>
<li>When<br> <%= @event.date %></li>
<li><p><%= @event.description %></li>
<li>Look Whose Coming!:<p><% @event.attendees.each do |attendee|%><%= attendee.user.username %><br><% end %><br></p></li>

</ul>
