<div class="row">
  <div class="col">
    <div class="card mt-5">
      <div class="card-header green">
        <h2><%= @event.name %></h2>
      </div>
      <div class="card-body">
        <img src=<%= randomized_background_image %> class="img-fluid eventimage rounded float-right" alt="Responsive image"> <p><b>Hosted by:</b> <%= @event.creator.username %></p>
        <p><b>Location:</b> <%= @event.location.name %></p>
        <p><b>Address:</b><br> <%= @event.location.address %></p>
        <p><b>When:</b><br> <%= @event.date.strftime("%A, %B %-d, %Y at %l:%M %P") %></p>
        <p><%= @event.description %></p>
        Look Whose Coming!
        <ul>
          <% @event.attendees.each do |attendee|%>
            <li><%= attendee.user.username %></li>
          <% end %>
        </ul>
        <% if @event.owner_id == @user.id %>
          <%= link_to "Edit Event", edit_event_path, class: "btn btn-secondary" %>
        <% elsif @user.events.include? @event %>
          <%= button_to 'Cancel', {:controller => "events", :action => "unattend", :params => {:attendee => {:event_id => @event.id, :user_id=> @user.id, hidden: true}}} , :method=>:post, class: "btn btn-danger btn-sm"  %>
        <% else %>
           <%= button_to 'Attend', {:controller => "events", :action => "attend", :params => {:attendee => {:event_id => @event.id, :user_id=> @user.id}}} , :method=>:post, class: "btn btn-secondary btn-sm"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
