<div class="row mt-5">
  <div class="col">
    <% greetarray = ["Hey!", "Hi!", "Hey there.", "How's it going?", "How are you doing?", "What's up?", "What's new?", "What's going on?", "How's everything?", "How are things?", "How's life!", "How's your day?", "How's your day going?", "Good to see you!", "Nice to see you.", "How have you been?", "Yo!", "Howdy!", "Sup?", "Whazzup?", "G'day mate!", "Hiya!"] %>
    <% num = rand(0..greetarray.length-1) %>
    <h1>Kevin says "<%= "#{greetarray[num][0..-2]} #{@user.first_name}#{greetarray[num][-1]}" %>"</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header yellow">
        <h2>Available Today</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <% @user.free_today.each do |d| %>
          <div class="col-3">
            <div class="card">
            <div class="card-header">
              <b><%= d[0].titlecase %></b><br>
            </div>
            <div class="card-body">
              <% if !@user.schedule[Time.now.strftime("%A").downcase][d[0]] %>
                <i>You are busy at this time.</i><br>
              <% end %>
            <% d[1].each do |c| %>
            <%= "#{c.full_name}"%><br>
            <% end %>
            </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="card">
      <button class="badge-sm badge-secondary" data-toggle="collapse" data-target="#demo">
The Week
      </button>
      <div class="card-body collapse" id="demo">
        <% @user.free_this_week.each do |d| %>
        <div class="row">
          <% d[1].each do |t| %>
          <div class="col-3">
            <div class="card mb-4">
            <div class="card-header">
              <b><%= d[0].titlecase %> <%= t[0].titlecase %></b><br>
            </div>
            <div class="card-body">
              <% if !@user.schedule[d[0]][t[0]] %>
                <i>You are busy at this time.</i><br>
              <% end %>
            <% t[1].each do |c| %>
            <%= "#{c.full_name}"%><br>
            <% end %>
            </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-8">
    <div class="card">
      <div class="card-header blue">
        <h2>Upcoming Events</h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @user.attending.each do |attend| %>
            <li class="list-group-item"><%= link_to attend.event.name, attend.event %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header green">
        <h2>Top Contacts</h2>
      </div>
      <div class="card-body">
        <% @user.get_ranked_contacts(5).each do |contact| %>
          <%= contact.full_name %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>
