<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjectMode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if !session.include? :user_id %>
      <style type="text/css">
        html {
          background: #222 url(<%= randomized_background_image %>) no-repeat center top;
          background-size: cover;
        }

        body {
          background-color: transparent;
        }
      </style>
    <% end %>

  </head>
  <body>
    <%= render :template => "layouts/_navbar" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
