<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjectMode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if session.include? :user_id %>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a href="/" class="navbar-brand">Tactiful Hangouts</a>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="<%= dashboard_path %>" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a href="#" class="nav-link">My Network</a></li>
            <li class="nav-item"><a href="<%= profile_path %>" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="<%= logout_path %>" class="nav-link">Logout</a></li>
          </ul>
        </div>
      </nav>
    <% end %>

    <% if session.include? :user_id %>
      <div class="container">
        <%= yield %>
      </div>
    <% else %>
      <div class="row justify-content-md-center mt-5">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </body>
</html>
